<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book and Review</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/addbook.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/books">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <div class="add_book">
            <div class="messages">
                {% if messages %}
                <ul class="messages">    
                {% for message in messages %}    
                    <li class="red" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
                </ul>
                {% endif %}
            </div>
            <h1>Add a New Book Title</h1>
            <form action="/books/addbook/add" method="post">
                {% csrf_token %}
                <div class="title">
                    <label for=""> Book Title :</label>
                    <input type="text" name="title" id="Title">
                </div>
                <div class="author">
                    <h2>Author:</h2>
                    <div class="exist-author">
                        <label for="exist-author">Choose From the list</label>
                        <select name="exist-author" id="exist-author">
                            {% for author in authors%}
                            <option value="{{author.name}}">{{author.name}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="new-author">
                    <label for="new-author"> Or Add a new Author</label>
                    <input type="text" name="new-author" id="new-author">
                </div>
                <div class="review">
                    <label for="review">Review</label>
                    <textarea name="review" id="review" cols="30" rows="10"></textarea>
                </div>
                <div class="rating">
                    <label for="rating">Rating</label>
                    <select name="rating" id="rating">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                </div>
                <div class="submit">
                    <input type="submit" value="Add Book And Review ">
                </div>
            </form>
        </div>
    </div>
</body>
</html>